Django==1.4
PyYAML==3.10
-e git://github.com/markng/python-calais.git@3ee7527cbc9587ec47c91f0d748cffde51b1f41c#egg=calais-dev
nltk==2.0.2
numpy==1.6.2
psycopg2==2.4.5
simplejson==2.6.0
wsgiref==0.1.2
